<% content_for :title, "Recipes" %>

<div>

  <!-- Main -->
  <div class="ml-5 mr-5">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="grid grid-cols-[1fr_1fr_min-content] items-center gap-5 mb-2 mt-2">
      <h1 class="text-xl font-bold">Recipes</h1>
      <label class="input justify-self-end">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <%= form_with(url: query_recipes_path, method: :get,
                      data: { controller: "auto-submit",
                              auto_submit_target: "form",
                              turbo_frame: "recipes_tables" }) do |form| %>
          <%= form.text_field :query,
                              # data: { auto_submit_target: "input",
                              #         action: "keyup->auto-submit#typing keydown->auto-submit#resetTimer" },
                              placeholder: "Search" %>
        <% end %>
      </label>

      <%= link_to "New Recipe", create_recipe_path, class: "btn btn-primary whitespace-nowrap" %>
    </div>
  </div>
  <%= turbo_frame_tag "recipes_tables", src: query_recipes_path do %>
    <h1>Table data will be here!</h1>
  <% end %>
</div>
